.Chat-main
  .Chat-main__group-info
    .group-main-header-left
      .group-name
        test
      %ul.group-members
        Member:
        %li 
          masa
    %a.edit-btn{:href => "#"}
      Edit
  .Chat-main__message-list
    .chat-main__message-box
      .chat-box-name
        masa
      .chat-box-date
        2020/08/20(Thu) 20:34:24
    .chat-box-message
      ohayo
    .chat-main__message-box
      .chat-box-name
        take
      .chat-box-date
        2020/08/20(Thu) 20:34:24
    .chat-box-message
      こんばんは
  .Footer
    %form.class-form{method: "post"}
      .Form__contents
        %input.class-name__text{type: "text", placeholder: "type a message"}  
        %label{class: "input-box__image"}
          %input.hidden{type: "file" , name: "message[image]"}
            = icon('fas', 'image' , class: "image-icon")
      %input.class-name__send{type: "submit", name: "commit", value: "Send", class: "form__submit"}


    

  
 