.Side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        MASA
      %ul.top-items__icons
        %li.top-items__icon
          = link_to "#" do
            = icon('fas', 'edit', class: "edit-icon")
        %li.top-items__icon
          = link_to "#" do
            = icon('fas', 'cog' , class: "cog-icon")
  .side-bar__group
    .side-bar__group-name
      techcamp
      .side-bar__group-messages
        omg
      

